{% extends "base.html" %}
{% block title %}Signup{% endblock title %}

{% block css %}
<link rel="stylesheet" href="../static/login.css">
{% endblock css %}
{% block body %}
    
<div class="card">
    <h1>RAYSONic</h1>
<br>
    <h2>Login Form</h2>

    <!-- SE CONNECTER / S'INSCRIRE -->
    <div class="login_register">
        <a href="{{ url_for('login') }}" class="login">Login</a>
        <a href="{{ url_for('signup') }}" class="register">Signup</a>
    </div>

    <!-- FORMULAIRE -->
    <form class="form" method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }} <!-- CSRF token, if you have it enabled -->
        <input type="email" name="email" placeholder="Email Address" class="email" value="{{ request.form.email }}">
        <input type="password" name="password" placeholder="Password" class="pass">
        <button type="submit" class="login_btn">Login</button>
    </form>

    <!-- MOT DE PASSE OUBLIE ? -->
    <a href="#" class="fp">Forgot password?</a>

    <!-- PIED DE LA CARD -->
    <div class="footer_card">
        <p>Not a member?</p>
        <a href="{{ url_for('signup') }}">Signup now</a>
    </div>
</div>
    {% endblock body %}
